/* @* {
    margin: 0;
    padding: 0;
} */

:root {
  --blue0: hsl(218, 30%, 15%);
  --blue1: hsla(218, 30%, 8%, 0.96);
  --blue2: hsl(218, 20%, 30%);
  --blue3: hsl(218, 25%, 60%);
  --blue4: #cfe0f5;;

  --orange1: #230808;
  --orange2: #4D211A;
  --orange3: #B55537;
  --orange4: #F4934E;

  --stripes: repeating-linear-gradient(-45deg, transparent, transparent 1vh, var(--blue0) 1vh, var(--blue0) 2vh);
  --shadow: 0px 0px 2vh hsl(218, 20%, 12%);
}


@font-face{
font-family: "Rift_Demi";
src: url("fonts/Rift_Demi.woff");
}

@font-face{
font-family: "Rift_Regular";
src: url("fonts/Rift_Regular.woff");
}

@font-face{
font-family: "Roboto_Condensed";
src: url("fonts/RobotoCondensed-Light.woff");
}

body {
  font-family: "Rift_Regular";
  letter-spacing: 0.1em;
  height: 100%;
  overflow: hidden;
  margin: 0;
  font-size: 1.8vh;
  user-select: none;
  -ms-user-select: none;

}

#backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  /* background-image: radial-gradient(circle farthest-side, hsl(210, 17%, 0%) ,hsl(210, 17%, 8%)); */
  background: radial-gradient(hsl(218, 30%, 10%) ,hsl(218, 35%, 6%));
  background: -ms-radial-gradient(center, circle, hsl(218, 30%, 10%) ,hsl(218, 35%, 6%));
  /* background: radial-gradient(#0A0E15 ,#080C11); */
  /* background-color: black; */
  z-index: -2;
}

#renderCanvas {
  position: absolute;
  width: 100%;
  height: 100%;
  touch-action: none;
  z-index: -4;

}

#containerUI {
  color: var(--blue4);
  position: absolute;
  width: 100%;
  height:100%;
  justify-content: center;
  visibility:hidden;
  overflow: visible;
  pointer-events:none;
}

#loadingScreen{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: black;
  transition: opacity 100ms;
  pointer-events: none;
}


#tooltip {
  opacity: 0;
  visibility: visible;
  position: absolute;
  background-color: var(--blue1);
  color: white;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 5px;
  pointer-events: none;
}


#wrapperPopupSwizterland{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--blue1);
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(5%);
}

#wrapperPopupWorld{
  position: absolute;
  height: 33.3333vh;
  width: calc(100vw - 30vh);
  background-color: var(--blue1);
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(200%) translateX(25vh);
}

#wrapperCountryInfo{
  padding: 1vh;
  background-color: var(--blue1);
  visibility: visible;
  display: flex;
  flex-direction: column;
  min-height: 20vh;
  width: 40vh;
  overflow: hidden;
  border-style: solid;
  border-image-slice:7;
  border-image-width: 0.5vh;
  border-image-outset: .2vh;
  border-image-repeat: stretch;
  border-image-source: url("textures/border_texture.png");
  margin-bottom: 10vh;
  transition: opacity 500ms, transform 500ms;

}

#countryName{
  text-align: center;
  flex: 0 1 auto;
  font-size: 2.25vh;
  margin-left: 1vh;
}
#countryDescription{
  flex: 1 0 auto;
  margin-top: 1vh;
  padding: 1vh;
  box-shadow: var(--shadow);
  border-style: solid;
  border-width: .15vh;
  border-color: var(--blue2);
  border-radius: 0vh;
}


#wrapperActorSelector{
  visibility: visible;
  font-size: 1.8vh;
  display: flex;
  align-items: stretch;
  letter-spacing: 0.05em;
  width: 85vh;
  height: 100%;
  background-color: var(--blue1);
  border-style: solid;
  border-image-slice:7;
  border-image-width: 0.5vh;
  border-image-outset: .2vh;
  border-image-repeat:stretch;
  border-image-source: url("textures/border_texture.png");
  margin-left: 5vh;
  margin-bottom: 10vh;
  transition: opacity 500ms, transform 500ms;

}

#wrapperActorList{
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  width: 20vh;
  text-align: center;
  margin: 2vh;
  margin-top: 0vh;
}



#actorList{
  flex: 1 0 auto;
  font-family: "Roboto_Condensed";
  font-size: 1vh;
  letter-spacing: 0.05em;
  background-color: var(--blue1);
  box-shadow:var(--shadow);
  border-style: solid;
  border-width: .15vh;
  border-color: var(--blue2);
  border-radius: 0vh;
  pointer-events: all;

}

#wrapperActorInfo{
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
  align-content: flex-start;
  align-items: flex-end;

  background-color: var(--blue1);
  visibility: visible;
  overflow: hidden;
  flex-grow: 1;
  margin: 2vh;
  padding: 1vh;
  box-shadow:var(--shadow);
  border-style: solid;
  border-width: .15vh;
  border-color: var(--blue2);
  border-radius: 0vh;
  background-color: var(--blue1)
  }


#wrapperAttackSelector{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-end;
  /* height: 340px; */
  width: 55%;
  right: 53vw;
  margin-right: 10vh;
  visibility: visible;
  transition: all 500ms;
  transform-origin: 20% 30%;;

}

#attackSelectorContentWrapper{
  display: flex;
  width: 35vh;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#attackSelectorContent{
  padding: 0 3vh;
  background-color: var(--blue1);
  overflow: hidden;
  border-style: solid;
  border-image-source: url("textures/border_texture.png");
  border-image-slice:7;
  border-image-width: 0.5vh;
  border-image-outset: .2vh;
  border-image-repeat: stretch;
  pointer-events: visible;
  opacity: 1;
}


#attackSelectorPageUI{
  display: flex;
  height: 6vh;
  transform: translateY(-1vh);
  align-items: center;
  justify-content: center;
  box-shadow:var(--shadow);
  border-style: solid;
  border-width: .15vh;
  border-color: var(--blue2);
  border-radius: 0vh;
  background-color: var(--blue1);
}


.attackSelectorArrow{
  width: 3.5vh;
  text-align: center;
  opacity: .5;
  pointer-events: all;
  padding: 2vh 1vh;
}

.attackSelectorArrow:hover{
  /* transform: scale(1.1); */
  opacity: 1;
}

#attackSelectorPageCoutner{
  text-align: center;
  width: 6vh;
}




#attackInfosWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items:flex-start;
  justify-content: center;
  width: 55%;
  right: 53vw;
  margin-left: 10vh;
  visibility: visible;
  height: 80vh;
  transition: opacity 500ms, transform 500ms;
  transform-origin: 150% 40%;;
  overflow: hidden;
}


#attackInfosContent{
  text-align: center;
  margin: 2vh;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: flex-start;
  height: 80vh;
  /* max-height: 1000px; */
  max-width: 60vh;;
  background-color: var(--blue1);
  overflow: hidden;
  border-style: solid;
  border-image-slice:7;
  border-image-width: 0.5vh;
  border-image-outset: .2vh;
  border-image-repeat: stretch;
  border-image-source: url("textures/border_texture.png");

}



#attackChronologyWrapper{
  width:100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  align-content: flex-start;
  flex-direction: row;
  margin: 0px 1.5vh;
  padding: 1vh;
  box-shadow: var(--shadow);
  border-style: solid;
  border-width: .15vh;
  border-color: var(--blue2);
  border-radius: 0vh;
  background-color: var(--blue1)
}


#attackActorWrapper{
  height: 25%;
  overflow:auto;
  pointer-events:auto;
  width:100%;
  /* min-height:100px; */
  padding: 1vh;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
  align-content: flex-start;
  align-items: flex-end;
  margin: 0px 1.5vh;
  box-shadow:var(--shadow);
  border-style: solid;
  border-width: .15vh;
  border-color: var(--blue2);
  border-radius: 0vh;
  background-color: var(--blue1)

}

.threatActorName{
  text-align: left;
  margin-right: 1vh;
  font-size: 2.25vh;
  transform: translateY(0.1em);

}

.threatActorAliases{
  text-align: left;
  flex:1;
}

.threatActorCountry{
  text-align: left;
  color: var(--orange4);
  font-weight: bold;
  font-size: 2.25vh;
  margin-top: 0.5vh;
  transform: translateY(0.1em);
}

#threatActorDescription_popupCH{
  margin-top: 1vh;
}

#threatActorDescription_popupWorld{
  margin-top: 1vh;
}

#attackVictimWrapper{
  width:100%;
  padding: 1vh;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-end;
  margin: 0px 1.5vh;
  box-shadow:var(--shadow);
  border-style: solid;
  border-width: .15vh;
  border-color: var(--blue2);
  border-radius: 0vh;
  background-color: var(--blue1)
}

#victimName{
  text-align: left;
  margin-right: 1vh;
  font-size: 2.25vh;
  transform: translateY(0.1em);
}

#victimLocation{
  text-align: left;
}


#attackDetailsWrapper{
  height: 25%;
  width: 30%;
  padding: 1vh;
  box-shadow:var(--shadow);
  border-style: solid;
  border-width: .15vh;
  border-color: var(--blue2);
  border-radius: 0vh;
  background-color: transparent;
  margin: 0px 1.5vh;
  margin-right: 0.75vh;
  margin-bottom: 20px;
  /* height: 30%; */
  flex: 1 0 auto;
  background-color: var(--blue1)
}

#attackDamageWrapper{
  height: 25%;
  width: 30%;
  padding: 1vh;
  box-shadow:var(--shadow);
  border-style: solid;
  border-width: .15vh;
  border-color: var(--blue2);
  border-radius: 0vh;
  background-color: transparent;
  margin: 0px 1.5vh;
  margin-left: 0.75vh;
  margin-bottom: 2vh;
  flex: 1 0 auto;
  background-color: var(--blue1)
}

.floatingText{
  font-family: "Roboto_Condensed";
  font-size: 1.4vh;
  text-align: left;
  color: var(--blue3);
}


.flexBreak{
   flex-basis: 100%;
   height: 0px;
}

.infoSubtitle{
  width: 50%;
  flex: 0 0 auto;
  margin: 1.5vh 0px 0.5vh 0;
}

.infoStaticText{
  text-align: left;
  margin-right: 1.5vh;
  margin-top: 0.3vh;
  color: var(--blue3);
}

.attackInfoBorders{
  display: flex;
}


.dateBlock{
  width:13vh;
  height: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--blue1);
  border-style: solid;
  border-width: .15vh;
  border-color: var(--blue2);
}

.chronologyStaticText{
  text-align: center;
  font-size: 1.4vh;
  color: var(--blue3);
  padding-bottom: .2vh;
  /* text-decoration: underline; */
}

.dateConnector{
  flex: 1 0 auto;
  height: 1vh;
  margin: .5vh;
  background-image: repeating-linear-gradient(-45deg, transparent, transparent .75vh, var(--blue2) .75vh, var(--blue2) 1.5vh);
}



#sidebar_left {
  color: white;
  text-align: center;
  position: absolute;
  top: 0;
  height:100vh;
  width: 25vh;
  overflow: visible;
  visibility: visible;
  pointer-events: none;
  font-weight: 100;
}




#logo{
  position: absolute;
  width: 20vh;
  height: 20vh;
  margin: 2vh;
  background: transparent url("textures/FIS_CYBER_LOGO.png") no-repeat center;
  background-size: 19vh;
  background-color: var(--blue1);
  border-style: solid;
  border-image-slice:7;
  border-image-width: 0.5vh;
  border-image-outset: .2vh;
  border-image-repeat:stretch;
  border-image-source: url("textures/border_texture.png");

}

.wrapperAttributionSelector{
  position: absolute;
  top: 25vh;
  margin-top: 1vh;

}

.wrapperAttributionList{
  font-family: "Roboto_Condensed";
  font-size: 1vh;
  letter-spacing: 0.05em;
  width: 20vh;
  background-color: var(--blue1);
  margin-left:2vh;
  margin-top: 2vh;
  border-style: solid;
  border-image-slice:7;
  border-image-width: 0.5vh;
  border-image-outset: .2vh;
  border-image-repeat:stretch;
  border-image-source: url("textures/border_texture.png");
}

#attributionScroll{
  height: calc(100vh - 40vh);
  pointer-events: all;
  overflow: auto;
  overflow-x: hidden;

}

#wrapperAttributionsSwizterland{
  opacity: 1;
  transition: transform 1s, opacity 500ms;
  transform: translateX( 0px );
}

#wrapperAttributionsWorld{
  opacity: 1;
  transition: transform 1s, opacity 500ms;
  transform: translateX( -30vh );
}


#attributionListButtons{
  pointer-events: auto;
  position: relative;
  width: 20vh;
  height: 4vh;
  margin-left:2vh;
  margin-top: 2vh;
  /* top: calc(100vh - 300px); */
  background-color: var(--blue1);
  border-style: solid;
  border-image-slice:7;
  border-image-width: 0.5vh;
  border-image-outset: .2vh;
  border-image-repeat:stretch;
  border-image-source: url("textures/border_texture.png");
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


#sidebar_right {
  color: white;
  text-align: center;
  float: right;
  height: 100%;
  width: 25vh;
  /* min-width: 250px; */
  visibility: visible;
  transition: transform 1s, opacity 500ms;
  pointer-events: auto;
  display: flex;
  align-items: center;

}

.sidebarTitle{
  width:100%;
  font-size: 2.5vh;
  flex: 1 0 auto;
}


#statistics{
  background-color: var(--blue1);
  width: 100%;
  color: var(--blue4);
  margin-right: 2vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 1vh 0px;
  border-style: solid;
  border-image-slice:7;
  border-image-width: 0.5vh;
  border-image-outset: .2vh;
  border-image-repeat:stretch;
  border-image-source: url("textures/border_texture.png");
  transform-origin: right;

  /* transform: scale(0.95); */

}

.statisticsGroup{
  display: flex;
  padding: .6vh;
  width:calc(100% - 4vh);
  /* background-color: var(--blue2); */
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 1vh;
  box-shadow:var(--shadow);
  border-style: solid;
  border-width: .15vh;
  border-color: var(--blue2);
  border-radius: 0vh;
  background-color: transparent;
}

.statisticsGroupName{
  width: 100%;
  font-size: 1.6vh;
  margin-bottom: .4vh;
}

.statisticsSubtitle{
  font-family: "Roboto_Condensed";
  font-size: 1.4vh;
  margin-top: .5vh;
  transform: translateY(10px);
  padding: .2vh;
}

.statisticsSubGroup{
  display:flex;
  flex-wrap: wrap;
  width:100%;
  /* margin-top: .25vh; */
}

.statisticsSubGroupName{
  font-family: "Roboto_Condensed";
  font-size: 1.3vh;
  text-align: left;
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.statisticsSubGroupValue{
  font-family: "Roboto_Condensed";
  font-size: 1.3vh;
  text-align: right;
  width: 10%;
}

.statisticsSubGroupBar{
  height: .15vh;
  border-radius: .1vh;
  width: .1%;
  flex: 0 0 auto;
  background-color: var(--orange4);
  margin: .1vh 0 .3vh 0;
  transition: width 800ms cubic-bezier( 0.19, 0.64, 0.38, 1 );
  box-shadow: 0px 0px .5vh var(--orange3);
}

.statisticsSubGroupBarFill{
  height: 2px !important;
  /* flex-grow: 1; */
  background-color: var(--blue2);
  margin-bottom: .25vh;
}


#header {
  pointer-events: none;
  text-align: center;
  position: absolute;
  top: -5vh;
  width: 100%;
  overflow: visible;
  visibility: visible;
  display: flex;
  justify-content: center;

}


#headerTitel{
  font-family: "Rift_Regular";
  font-size: 3.5vh;
  margin-bottom: 1vh;
  margin-top: 5.5vh;
  color: var(--blue4);
  /* font-weight: bold; */
}


#modeSelection_Wrapper {
  position: relative;
  text-align: center;
  z-index: auto;
  /* padding: 1vh 2vh; */
  bottom: 0;
  width: 45vh;
  background-color: var(--blue1);
  border-style: solid;
  border-image-slice:7;
  border-image-width: 0.5vh;
  border-image-outset: .2vh;
  border-image-repeat: stretch;
  border-image-source: url("textures/border_texture.png");

}


.modeButton {
  width: 12vh;
  height: 3vh;
  display: inline-block;
  overflow: visible;
  margin: 1vh 1vh 1.5vh 1vh;
  cursor: pointer;
  pointer-events: all;
}

.modeButton:hover span{
  /* font-weight: bold; */
  /* background: var(--blue2) !important; */
  /* font-size: 1.35vh; */
  /* letter-spacing: 0.15em; */
  transform: scale(1.05);
}

.modeButton label {
  color: var(--blue3);
  /* background-color: var(--blue1); */
  height: 100%;
}

.modeButton span {
    text-align:center;
    font-family: "Rift_Regular";
    font-size: 1.5vh;
     letter-spacing: 0.1em;
    /* padding:5px 0px; */
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    color: var(--blue4);
    user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    box-shadow: var(--shadow);
    border-style: solid;
    border-width: .15vh;
    border-color: var(--blue2);
    border-radius: 0vh;
    /* background-color: var(--blue0); */
    transition:  transform .1s, color .3s, border-color .25s, font-size .02s;
    background-image: var(--stripes);
    /* background-color: ; */

}

.modeButton input {
  visibility: collapse;
  position:absolute;
}

.modeButton input:checked + span {
  color: var(--blue4);
  font-weight: bold;
  border-color: var(--blue4) ;
  box-shadow: 0px 0px .75vh hsl(218, 20%, 50%);
  /* background-color: var(--blue2); */
  /* letter-spacing: 0.1em; */
  /* border-width: 1px; */
  /* background-image: var(--stripes); */
}



#wrapperTimeline {
  pointer-events: auto;
  text-align: center;
  position: absolute;
  bottom: 7vh;
  width: calc(100% - 74vh);
  left: 35vh;
  overflow: visible;
  visibility: visible;
  transition: transform 1s;
  display: flex;
  justify-content: center;

}





.attributionButton {
  width: 75%;
  height: 2vh;
  display: inline-block;
  overflow: visible;
  margin-top: 1.5vh;
  white-space: nowrap
}

.attributionButton.narrow {
  width: 35%;
  margin: .75vh;
}

.attributionButton.narrow span {
}

.attributionButton.narrow input:checked + span {
}



.attributionButton:hover span{
  /* font-weight: bold; */
  /* background: var(--blue2) !important; */
  /* font-size: 1.35vh; */
  /* letter-spacing: 0.15em; */
  transform: scale(1.075);
}

.attributionButton label {
  color: var(--blue3);
  /* background-color: var(--blue1); */
  height: 100%;
}

.attributionButton span {
    text-align:center;
    font-family: "Roboto_Condensed";
    font-size: 1.3vh;
     letter-spacing: 0.07em;
    /* padding:5px 0px; */
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    color: var(--blue4);
    user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    box-shadow: var(--shadow);
    border-style: solid;
    border-width: .15vh;
    border-color: var(--blue2);
    border-radius: 0vh;
    /* background-color: var(--blue0); */
    transition:  transform .1s, color .3s, border-color .25s, font-size .02s;
    background-image: var(--stripes);
    /* background-color: ; */

}

.attributionButton input {
  visibility: collapse;
  position:absolute;
}

.attributionButton input:checked + span {
  color: var(--blue4);
  font-weight: bold;
  border-color: var(--blue4) ;
  box-shadow: 0px 0px .5vh hsl(218, 20%, 50%);
  /* background-color: var(--blue2); */
  /* letter-spacing: 0.1em; */
  /* border-width: 1px; */
  /* background-image: var(--stripes); */
}



/* attack selector buttons */

.attackInput{
  color: var(--blue3);
  visibility: collapse;
  position: absolute;

}

#attackButton1{
  transform-origin: right;
  transition: transform 200ms, opacity 200ms;
  transition-delay: 0ms;
  transition-timing-function: cubic-bezier( 0.19, 0.64, 0.38, 1 );

}

#attackButton2{
  transform-origin: right;
  transition: transform 200ms, opacity 200ms;
  transition-delay: 50ms;
  transition-timing-function: cubic-bezier( 0.19, 0.64, 0.38, 1 );
}

#attackButton3{
  transform-origin: right;
  transition: transform 200ms, opacity 200ms;
  transition-delay: 100ms;
  transition-timing-function: cubic-bezier( 0.19, 0.64, 0.38, 1 );
}


.attackButton {
  width: 25vh;
  display: block;
  overflow: visible;
  margin: 2vh 0;
  /* transition: background-color .25s; */
  pointer-events: visible;
  opacity: 1;
  box-shadow: var(--shadow);
}



.attackButton:hover span {
    /* background: var(--blue2) !important; */
    /* transform: scale(1.04); */
    background-color: var(--blue0);
}


.attackButton label {
  color: var(--blue3);
  /* background-color: var(--blue0); */
  float:left;
  width:160px;
}

.attackButton span {
    text-align:left;
    height: 100%;
    padding: .4vh;
    display:flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    color: var(--blue4);
    cursor: default;
    border-style: solid;
    border-width: .15vh;
    border-color: var(--blue2);
    border-radius: 0vh;
    background-color: var(--blue1);
    /* background-image: var(--stripes); */
    flex: 1;
    transition: opacity 0.15s, transform 0.15s, background-color 0.15s,   box-shadow 0.05s;


}

.attackButton input {
  visibility: collapse;
  position:absolute;
  top:-20px;
}


.attackButton input:checked + span {
  /* background-color: hsla(210, 17%, 30%, .4); */
  /* color: white; */
  background-color: var(--blue0);
  border-color: var(--blue4);
  /* transform: scale(1.04); */
  box-shadow: 0px 0px .5vh hsl(218, 20%, 50%);
}



.attackButtonLabels{
  font-family: "Roboto_Condensed";
  font-size: 1.5vh;
  color: var(--blue3);
  letter-spacing: 0.05em;
  width: 20%;
  padding: 0 .5vh ;
  text-align: center
}

.attackButtonContent{
  flex: 1;
  padding: .2vh;
}
